<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Punto de Acceso</h1>
    <p>para acceder a esta pagina</p>
    <form action="{% url 'login' %}" method="post">
    	{% csrf_token %}
    	<label for="username">Usuario: </label>
        <input type="text" id=username' name='username'><br><br>
        <label for="password">Contrasena: </label>
        <input type="password" id="password" name="password"><br><br>
    	<input type="submit" value="Iniciar Sesion">
    </form>
</body>
</html>
